<div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px;">
    <div class="container pt-5 ">
        <div class="row g-5 pt-4">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" routerLink="/home"><i
                            class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                    <a class="text-light mb-2" routerLink="/kontakt"><i
                            class="bi bi-arrow-right text-primary me-2"></i>Kontakt</a>
                    <a class="text-light mb-2" target="_blank" routerLink="/daten"><i
                            class="bi bi-arrow-right text-primary me-2"></i>Datenschutzerklärung und <br> Impressum</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column justify-content-start">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Kontakt</h3>
                <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>Liebigstraße 65, 35392 Gie?en</p>
                <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>zakaria.moh176@gmail.com</p>
                <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+4915906300098</p>
            </div>
           <!--  <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Folgen Sie Uns</h3>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i
                            class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i
                            class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i
                            class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i
                            class="fab fa-instagram fw-normal"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="container-fluid text-light py-4" style="background: #051225;">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">Zico</a>. All Rights
                    Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!-- <p class="mb-0">Designed by <a class="text-white border-bottom" href="#">Zico
            <a class="text-white border-bottom" href="#"></a>

        </p> -->
            </div>
        </div>
    </div>
</div>