<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Über uns</h5>
                    <h1 class="display-5 mb-0">Die beste Zahnpraxis der Welt, der Sie vertrauen können</h1>
                </div>
                <h4 class="text-body fst-italic mb-4"></h4>
                <p class="mb-4">Herzlich Willkommen in unserer Praxis! Wir begleiten Sie in allen Fragen der
                    zahnmedizinischen Vorsorge und Therapie.
                    Unsere Motivation ist es, dass Sie sich bei uns zahnmedizinisch und menschlich gut betreut fühlen.
                    In einer ruhigen
                    Atmosphäre versuchen wir, Ihren Aufenthalt so angenehm wie möglich zu gestalten. Dazu bieten wir:
                    Kurze Wartezeiten und
                    eine Morgensprechstunde ab 7:30 Uhr, schonende Behandlungsmethoden und eine umfassende Nachsorge,
                    ein eigenes
                    zahntechnisches Praxislabor sowie attraktive Finanzierungsangebote, eine günstige Verkehrsanbindung
                    (PKW, Bahn, Bus) und
                    Parkplätze im Hof.</p>

                <a href="#about" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">Mehr
                    erfahren</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="../../assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Newsletter Start -->
<div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1;">
    <div class="container">
        <div class="bg-primary p-5">
            <form class="mx-auto" style="max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-3" placeholder="Ihre Email">
                    <button class="btn btn-dark px-4">Sign Up for Newsletter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Newsletter End -->