<!doctype html>
<html lang="en">

<head>

    <meta name="google-signin-client_id"
        content="410185149015-4qtk5cg227ilc79tfat4n3gq81k9pu1d.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


</head>

<body>
 <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in with Google</h3>
                        <button (click)="signIn()" class="btn btn-primary text-dark py-2 px-4 ms-3">Sign In</button>

                       <br>

<!--                     <a routerLink="/home" onclick="signOut();">Sign out</a>
 -->
                         
                      

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
 



<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>



</body>

</html>

