<!-- Banner Start -->
<div class="container-fluid banner mb-5">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary d-flex flex-column p-5" style="height: 300px;">
                    <h3 class="text-white mb-3">Öffnungszeit</h3>

                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Montag</h6>
                        <p class="mb-0"> 7:30 - 16:00 Uhr</p>
                    </div>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Dienstag</h6>
                        <p class="mb-0"> 7:30 - 16:00 Uhr</p>
                    </div>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Mittwoch</h6>
                        <p class="mb-0"> 7:30 - 16:00 Uhr</p>
                    </div>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Donnerstag</h6>
                        <p class="mb-0"> 7:30 - 16:00 Uhr</p>
                    </div>
                    <div class="d-flex justify-content-between text-white mb-3">
                        <h6 class="text-white mb-0">Freitag</h6>
                        <p class="mb-0"> 7:30 - 16:00 Uhr</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-dark d-flex flex-column p-5" style="height: 300px;">
                    <h3 class="text-white mb-3">Unsere Leistungen</h3>
                    <br>
                    <!-- <p class="text-white"> -->
                    <p class="text-white">Vereinbaren Sie einen Termin –
                        ganz einfach online oder per Telefon.
                        Wir freuen uns auf Sie!</p>
                    <!-- </p> -->
                    <a class="btn btn-light" routerLink="/service">Unser Leistung</a>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-secondary d-flex flex-column p-5" style="height: 300px;">
                    <h3 class="text-white mb-3">Termin vereinbaren</h3>
                    <br>
                    <p class="text-white">Vereinbaren Sie einen Termin –
                        ganz einfach online oder per Telefon.
                        Wir freuen uns auf Sie!</p>
                    <br>
                    <a class="btn btn-light" routerLink="/appointment">Termine</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Start -->