<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Termin vereinbaren</h1>
            <!--  <a routerLink="/home" class="h4 text-white">Home</a> -->
            <i class="far fa-circle text-white px-2"></i>

        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Appointment Start -->
<div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s" id="appointment">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h1 class="display-5 text-white mb-4">Wir sind eine zertifizierte Zahnpraxis, der Sie vertrauen
                        können</h1>
                    <p class="text-white mb-0">Bei uns können Sie bequem online einen Termin vereinbaren. Sollten Sie
                        noch Fragen
                        haben können Sie uns auch gerne
                        anrufen oder eine Nachricht hinterlassen

                        Selbstverständlich sind wir auch für selbstzahlende gesetzlich versicherte Patienten, die
                        aufgrund
                        besonderer Umstände
                        einen Termin für eine individuelle Behandlung oder eine Professionelle Zahnreinigung vereinbaren
                        möchten
                        da.</p>
                    <br>
                    <a routerLink="/kontakt" class="btn btn-light py-3 px-5">Nachricht hinterlassen</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
                    data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">Termin vereinbaren</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;">
                                    <option selected>Service aussuchen</option>
                                    <option value="1">Zahnerhaltung</option>
                                    <option value="2">Parodontitisbehandlung</option>
                                    <option value="3">Bleaching</option>
                                    <option value="3">Zahnersatz</option>

                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;">
                                    <option selected>Arzt aussuchen</option>
                                    <option value="1">Dr. Daniel Jakob</option>
                                    <option value="2">Dr. John Ibrahim</option>
                                    <option value="3">Dr.Alina Alexander</option>
                                    <option value="3">Dr. Raja Islam</option>


                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Ihr Name"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-light border-0" placeholder="Ihr Email"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control bg-light border-0 datetimepicker-input"
                                        placeholder="Appointment Date" data-target="#date1" data-toggle="datetimepicker"
                                        style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time1" data-target-input="nearest">
                                    <input type="text" class="form-control bg-light border-0 datetimepicker-input"
                                        placeholder="Appointment Time" data-target="#time1" data-toggle="datetimepicker"
                                        style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit">Termin vereinbaren</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->

<!-- Newsletter Start -->
<div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1;">
    <div class="container">
        <div class="bg-primary p-5">
            <form class="mx-auto" style="max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-3" placeholder="Ihre Email">
                    <button class="btn btn-dark px-4">Sign Up for Newsletter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Newsletter End -->